* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 16px;
}

.movies-list {
    display: grid;
    place-items: center;
    gap: 1rem;
}

table {
    width: 80%;
}

table, th, td {
    border: 1px solid; 
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-radius: .5rem;
    width: 20rem;
    padding: 2rem;
}

dialog div {
    margin-bottom: 1rem;
    width: 100%;
}

dialog label {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

dialog label::after {
    content: " *";
    color: red;
}

dialog input, select {
    width: 100%;
    padding: .5rem;
    outline: none;
    border: 1px solid;
    border-radius: .3rem;
}

dialog select option {
   font-size: 1rem;
}

::backdrop {
    background-color: rgba(0, 0, 0, .5);
}